<haml xmlns="urn:HAML.Namespace" version="0.4.4">
  <reporting-center>Unavailable</reporting-center>
  <document-context>Sample document context for working purposes</document-context>
  <patient>
    <patient-id>GTI 64</patient-id>
    <sample>
      <sample-id>GTI 64</sample-id>
      <testing-laboratory>Unavailable</testing-laboratory>
      <assay>
        <working-sample>
          <working-sample-id>GTI 64</working-sample-id>
          <solid-phase-panel>
            <kit-manufacturer>Immucor</kit-manufacturer>
            <lot-number>3013550 3013361-SA1</lot-number>
            <bead>
              <bead-info>
                <bead-id>103</bead-id>
                <HLA-target-type>A*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>243</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>104</bead-id>
                <HLA-target-type>A*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>141</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>106</bead-id>
                <HLA-target-type>A*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>158</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>107</bead-id>
                <HLA-target-type>A*02:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>194</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>108</bead-id>
                <HLA-target-type>A*02:05</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>155</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>109</bead-id>
                <HLA-target-type>A*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>158</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>110</bead-id>
                <HLA-target-type>A*11:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>139</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>111</bead-id>
                <HLA-target-type>A*11:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>165</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>112</bead-id>
                <HLA-target-type>A*23:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>782</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>15</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>113</bead-id>
                <HLA-target-type>A*24:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>870</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>17</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>114</bead-id>
                <HLA-target-type>A*24:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>695</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>14</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>115</bead-id>
                <HLA-target-type>A*25:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>146</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>116</bead-id>
                <HLA-target-type>A*26:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>191</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>117</bead-id>
                <HLA-target-type>A*29:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>203</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>118</bead-id>
                <HLA-target-type>A*29:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>169</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>119</bead-id>
                <HLA-target-type>A*30:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>231</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>120</bead-id>
                <HLA-target-type>A*31:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>280</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>121</bead-id>
                <HLA-target-type>A*32:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>242</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>122</bead-id>
                <HLA-target-type>A*33:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>174</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>123</bead-id>
                <HLA-target-type>A*33:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>215</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>124</bead-id>
                <HLA-target-type>A*34:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>175</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>125</bead-id>
                <HLA-target-type>A*36:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>222</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>126</bead-id>
                <HLA-target-type>A*43:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>172</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>127</bead-id>
                <HLA-target-type>A*66:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>141</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>128</bead-id>
                <HLA-target-type>A*66:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>208</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>129</bead-id>
                <HLA-target-type>A*68:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>52</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>130</bead-id>
                <HLA-target-type>A*68:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>156</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>131</bead-id>
                <HLA-target-type>A*69:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>165</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>132</bead-id>
                <HLA-target-type>A*74:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>222</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>133</bead-id>
                <HLA-target-type>A*80:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>188</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>134</bead-id>
                <HLA-target-type>B*07:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>16538</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>105</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>135</bead-id>
                <HLA-target-type>B*07:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14146</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>90</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>136</bead-id>
                <HLA-target-type>B*08:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17951</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>114</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>137</bead-id>
                <HLA-target-type>B*13:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>386</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>138</bead-id>
                <HLA-target-type>B*14:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>15240</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>97</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>139</bead-id>
                <HLA-target-type>B*14:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>12359</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>79</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>140</bead-id>
                <HLA-target-type>B*15:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17768</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>113</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>141</bead-id>
                <HLA-target-type>B*15:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>15695</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>100</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>142</bead-id>
                <HLA-target-type>B*15:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17700</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>113</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>143</bead-id>
                <HLA-target-type>B*15:12</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>18281</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>116</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>144</bead-id>
                <HLA-target-type>B*15:13</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>240</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>145</bead-id>
                <HLA-target-type>B*15:16</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>341</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>146</bead-id>
                <HLA-target-type>B*15:18</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>18372</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>117</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>147</bead-id>
                <HLA-target-type>B*18:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17495</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>111</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>148</bead-id>
                <HLA-target-type>B*27:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>240</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>149</bead-id>
                <HLA-target-type>B*27:05</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>380</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>150</bead-id>
                <HLA-target-type>B*27:08</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>18042</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>115</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>151</bead-id>
                <HLA-target-type>B*35:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>15695</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>100</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>152</bead-id>
                <HLA-target-type>B*35:08</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>13941</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>89</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>153</bead-id>
                <HLA-target-type>B*37:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>243</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>154</bead-id>
                <HLA-target-type>B*38:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>252</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>155</bead-id>
                <HLA-target-type>B*39:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17085</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>109</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>156</bead-id>
                <HLA-target-type>B*40:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14272</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>91</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>157</bead-id>
                <HLA-target-type>B*40:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17449</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>111</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>158</bead-id>
                <HLA-target-type>B*41:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>12210</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>78</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>159</bead-id>
                <HLA-target-type>B*42:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14693</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>94</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>160</bead-id>
                <HLA-target-type>B*44:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>215</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>161</bead-id>
                <HLA-target-type>B*44:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>257</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>162</bead-id>
                <HLA-target-type>B*45:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14374</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>92</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>163</bead-id>
                <HLA-target-type>B*46:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2545</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>16</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>164</bead-id>
                <HLA-target-type>B*47:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>481</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>165</bead-id>
                <HLA-target-type>B*48:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>8484</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>54</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>166</bead-id>
                <HLA-target-type>B*49:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>166</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>167</bead-id>
                <HLA-target-type>B*50:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>16197</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>103</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>168</bead-id>
                <HLA-target-type>B*51:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>280</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>169</bead-id>
                <HLA-target-type>B*52:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>233</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>170</bead-id>
                <HLA-target-type>B*53:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>157</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>171</bead-id>
                <HLA-target-type>B*54:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14044</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>89</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>172</bead-id>
                <HLA-target-type>B*55:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>12427</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>79</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>173</bead-id>
                <HLA-target-type>B*56:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>10502</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>67</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>174</bead-id>
                <HLA-target-type>B*57:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>3577</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>23</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>175</bead-id>
                <HLA-target-type>B*58:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1478</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>9</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>176</bead-id>
                <HLA-target-type>B*59:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>268</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>177</bead-id>
                <HLA-target-type>B*67:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>17404</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>111</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>178</bead-id>
                <HLA-target-type>B*73:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2865</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>18</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>179</bead-id>
                <HLA-target-type>B*78:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>12483</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>80</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>180</bead-id>
                <HLA-target-type>B*81:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>12005</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>76</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>181</bead-id>
                <HLA-target-type>B*82:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>14739</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>94</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>182</bead-id>
                <HLA-target-type>C*01:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2966</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>15</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>183</bead-id>
                <HLA-target-type>C*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>271</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>184</bead-id>
                <HLA-target-type>C*03:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4505</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>22</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>185</bead-id>
                <HLA-target-type>C*03:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4097</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>20</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>186</bead-id>
                <HLA-target-type>C*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>399</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>187</bead-id>
                <HLA-target-type>C*04:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>202</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>188</bead-id>
                <HLA-target-type>C*05:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>286</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>189</bead-id>
                <HLA-target-type>C*06:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>238</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>190</bead-id>
                <HLA-target-type>C*07:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>314</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>191</bead-id>
                <HLA-target-type>C*07:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>321</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>192</bead-id>
                <HLA-target-type>C*08:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4020</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>20</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>193</bead-id>
                <HLA-target-type>C*08:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2853</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>14</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>194</bead-id>
                <HLA-target-type>C*12:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2440</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>12</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>195</bead-id>
                <HLA-target-type>C*14:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2851</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>14</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>196</bead-id>
                <HLA-target-type>C*15:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>255</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>197</bead-id>
                <HLA-target-type>C*16:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>947</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>198</bead-id>
                <HLA-target-type>C*17:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>321</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>199</bead-id>
                <HLA-target-type>C*18:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>222</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
          </solid-phase-panel>
        </working-sample>
        <interpretation>
          <positive-specificities>A*23:01+A*24:02+B*07:02+B*07:03+B*08:01+B*14:01+B*14:02+B*15:01+B*15:02+B*15:03+B*15:12+B*15:18+B*18:01+B*27:08+B*35:01+B*35:08+B*39:01+B*40:01+B*40:02+B*41:01+B*42:01+B*45:01+B*46:01+B*48:01+B*50:01+B*54:01+B*55:01+B*56:01+B*57:01+B*58:01+B*67:01+B*73:01+B*78:01+B*81:01+B*82:02+C*01:02+C*03:03+C*03:04+C*08:01+C*08:02+C*12:02+C*14:02+C*16:01</positive-specificities>
        </interpretation>
      </assay>
    </sample>
  </patient>
</haml>
