<haml xmlns="urn:HAML.Namespace" version="0.4.4">
  <reporting-center>Unavailable</reporting-center>
  <document-context>Sample document context for working purposes</document-context>
  <patient>
    <patient-id>23NEQAS3 08</patient-id>
    <sample>
      <sample-id>23NEQAS3 08</sample-id>
      <testing-laboratory>Unavailable</testing-laboratory>
      <assay>
        <working-sample>
          <working-sample-id>23NEQAS3 08</working-sample-id>
          <solid-phase-panel>
            <kit-manufacturer>Immucor</kit-manufacturer>
            <lot-number>3013563 3013449-SA2</lot-number>
            <bead>
              <bead-info>
                <bead-id>203</bead-id>
                <HLA-target-type>DRB1*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>936</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>204</bead-id>
                <HLA-target-type>DRB1*01:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>863</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>206</bead-id>
                <HLA-target-type>DRB1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>837</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>207</bead-id>
                <HLA-target-type>DRB1*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>714</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>208</bead-id>
                <HLA-target-type>DRB1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>925</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>209</bead-id>
                <HLA-target-type>DRB1*03:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>867</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>210</bead-id>
                <HLA-target-type>DRB1*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4801</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>7</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>211</bead-id>
                <HLA-target-type>DRB1*04:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>5450</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>8</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>212</bead-id>
                <HLA-target-type>DRB1*04:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>5042</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>7</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>213</bead-id>
                <HLA-target-type>DRB1*04:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4883</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>7</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>214</bead-id>
                <HLA-target-type>DRB1*04:05</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>4400</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>6</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>215</bead-id>
                <HLA-target-type>DRB1*07:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1993</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>216</bead-id>
                <HLA-target-type>DRB1*08:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1206</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>217</bead-id>
                <HLA-target-type>DRB1*08:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>866</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>218</bead-id>
                <HLA-target-type>DRB1*09:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2153</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>219</bead-id>
                <HLA-target-type>DRB1*10:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>980</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>220</bead-id>
                <HLA-target-type>DRB1*11:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>732</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>221</bead-id>
                <HLA-target-type>DRB1*11:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>986</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>222</bead-id>
                <HLA-target-type>DRB1*11:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>740</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>223</bead-id>
                <HLA-target-type>DRB1*12:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>997</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>224</bead-id>
                <HLA-target-type>DRB1*12:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1417</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>225</bead-id>
                <HLA-target-type>DRB1*13:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>963</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>226</bead-id>
                <HLA-target-type>DRB1*13:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1085</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>227</bead-id>
                <HLA-target-type>DRB1*13:05</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>944</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>228</bead-id>
                <HLA-target-type>DRB1*14:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>691</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>229</bead-id>
                <HLA-target-type>DRB1*14:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>913</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>230</bead-id>
                <HLA-target-type>DRB1*14:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1153</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>231</bead-id>
                <HLA-target-type>DRB1*15:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>998</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>232</bead-id>
                <HLA-target-type>DRB1*15:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>810</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>233</bead-id>
                <HLA-target-type>DRB1*15:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1077</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>234</bead-id>
                <HLA-target-type>DRB1*16:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1019</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>235</bead-id>
                <HLA-target-type>DRB1*16:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1071</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>236</bead-id>
                <HLA-target-type>DRB3*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>946</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>237</bead-id>
                <HLA-target-type>DRB3*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>902</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>238</bead-id>
                <HLA-target-type>DRB3*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>701</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>239</bead-id>
                <HLA-target-type>DRB4*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1167</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>240</bead-id>
                <HLA-target-type>DRB5*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>945</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>241</bead-id>
                <HLA-target-type>DRB5*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1019</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>242</bead-id>
                <HLA-target-type>DQA1*02:01&amp;DQB1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1097</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>243</bead-id>
                <HLA-target-type>DQA1*05:01&amp;DQB1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2186</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>244</bead-id>
                <HLA-target-type>DQA1*02:01&amp;DQB1*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1569</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>245</bead-id>
                <HLA-target-type>DQB1*02:02&amp;DQA1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1573</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>246</bead-id>
                <HLA-target-type>DQA1*05:01&amp;DQB1*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1870</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>247</bead-id>
                <HLA-target-type>DQB1*03:01&amp;DQA1*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2394</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>248</bead-id>
                <HLA-target-type>DQB1*03:01&amp;DQA1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2197</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>249</bead-id>
                <HLA-target-type>DQA1*05:01&amp;DQB1*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2291</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>250</bead-id>
                <HLA-target-type>DQB1*03:01&amp;DQA1*06:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2663</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>251</bead-id>
                <HLA-target-type>DQA1*02:01&amp;DQB1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2747</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>252</bead-id>
                <HLA-target-type>DQA1*03:01&amp;DQB1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2832</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>253</bead-id>
                <HLA-target-type>DQA1*03:02&amp;DQB1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>3352</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>254</bead-id>
                <HLA-target-type>DQB1*03:03&amp;DQA1*03:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2618</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>255</bead-id>
                <HLA-target-type>DQA1*04:01&amp;DQB1*03:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2167</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>256</bead-id>
                <HLA-target-type>DQA1*06:01&amp;DQB1*03:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2341</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>257</bead-id>
                <HLA-target-type>DQA1*02:01&amp;DQB1*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>660</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>258</bead-id>
                <HLA-target-type>DQA1*04:01&amp;DQB1*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1424</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>259</bead-id>
                <HLA-target-type>DQA1*05:01&amp;DQB1*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1174</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>260</bead-id>
                <HLA-target-type>DQA1*03:01&amp;DQB1*04:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1056</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>261</bead-id>
                <HLA-target-type>DQA1*04:01&amp;DQB1*04:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1130</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>262</bead-id>
                <HLA-target-type>DQA1*06:01&amp;DQB1*04:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1148</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>263</bead-id>
                <HLA-target-type>DQB1*05:01&amp;DQA1*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1670</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>264</bead-id>
                <HLA-target-type>DQA1*01:02&amp;DQB1*05:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1047</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>265</bead-id>
                <HLA-target-type>DQA1*01:02&amp;DQB1*05:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1285</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>266</bead-id>
                <HLA-target-type>DQA1*01:04&amp;DQB1*05:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1492</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>267</bead-id>
                <HLA-target-type>DQB1*06:01&amp;DQA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1200</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>268</bead-id>
                <HLA-target-type>DQB1*06:01&amp;DQA1*01:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1604</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>269</bead-id>
                <HLA-target-type>DQA1*02:01&amp;DQB1*06:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1274</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>270</bead-id>
                <HLA-target-type>DQA1*01:02&amp;DQB1*06:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>744</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>271</bead-id>
                <HLA-target-type>DQA1*01:03&amp;DQB1*06:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>845</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>272</bead-id>
                <HLA-target-type>DQA1*01:02&amp;DQB1*06:04</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1087</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>273</bead-id>
                <HLA-target-type>DPB1*01:01&amp;DPA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1038</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>274</bead-id>
                <HLA-target-type>DPB1*01:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>800</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>275</bead-id>
                <HLA-target-type>DPA1*02:02&amp;DPB1*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>918</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>276</bead-id>
                <HLA-target-type>DPA1*03:01&amp;DPB1*01:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>838</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>277</bead-id>
                <HLA-target-type>DPB1*02:01&amp;DPA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1367</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>278</bead-id>
                <HLA-target-type>DPA1*01:03&amp;DPB1*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2219</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>279</bead-id>
                <HLA-target-type>DPB1*04:01&amp;DPA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>910</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>280</bead-id>
                <HLA-target-type>DPB1*04:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>745</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>281</bead-id>
                <HLA-target-type>DPB1*04:01&amp;DPA1*02:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1072</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>282</bead-id>
                <HLA-target-type>DPB1*04:01&amp;DPA1*03:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1097</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>283</bead-id>
                <HLA-target-type>DPB1*04:01&amp;DPA1*04:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1520</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>3</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>284</bead-id>
                <HLA-target-type>DPB1*04:02&amp;DPA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>986</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>285</bead-id>
                <HLA-target-type>DPA1*03:01&amp;DPB1*04:02</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1384</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>286</bead-id>
                <HLA-target-type>DPB1*05:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>555</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>287</bead-id>
                <HLA-target-type>DPA1*02:02&amp;DPB1*05:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>615</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>288</bead-id>
                <HLA-target-type>DPA1*03:01&amp;DPB1*05:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>928</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>289</bead-id>
                <HLA-target-type>DPA1*01:03&amp;DPB1*06:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2693</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>5</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>290</bead-id>
                <HLA-target-type>DPA1*02:01&amp;DPB1*09:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>9917</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>18</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>291</bead-id>
                <HLA-target-type>DPB1*11:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>717</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>292</bead-id>
                <HLA-target-type>DPB1*13:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>753</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>293</bead-id>
                <HLA-target-type>DPA1*04:01&amp;DPB1*13:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>907</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>294</bead-id>
                <HLA-target-type>DPB1*14:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>2205</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>4</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>295</bead-id>
                <HLA-target-type>DPB1*15:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>928</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>296</bead-id>
                <HLA-target-type>DPA1*02:01&amp;DPB1*17:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>7120</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>13</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Positive</bead-classification>
                  <bead-rank>8</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>297</bead-id>
                <HLA-target-type>DPB1*18:01&amp;DPA1*01:03</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>1168</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>298</bead-id>
                <HLA-target-type>DPB1*19:01&amp;DPA1*02:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>833</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>2</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
            <bead>
              <bead-info>
                <bead-id>299</bead-id>
                <HLA-target-type>DPA1*02:02&amp;DPB1*28:01</HLA-target-type>
              </bead-info>
              <raw-data>
                <sample-raw-MFI>693</sample-raw-MFI>
              </raw-data>
              <converted-data>
                <sample-adjusted-MFI>1</sample-adjusted-MFI>
                <bead-interpretation>
                  <classification-entity>Immucor Software</classification-entity>
                  <bead-classification>Negative</bead-classification>
                  <bead-rank>2</bead-rank>
                </bead-interpretation>
              </converted-data>
            </bead>
          </solid-phase-panel>
        </working-sample>
        <interpretation>
          <positive-specificities>DRB1*04:01+DRB1*04:02+DRB1*04:03+DRB1*04:04+DRB1*04:05+DPB1*03:01+DPB1*06:01+DPB1*09:01+DPB1*17:01</positive-specificities>
        </interpretation>
      </assay>
    </sample>
  </patient>
</haml>
